#grid {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
    border: 1px black solid;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid-square {
    flex-grow: 1;
}

.traversed {
    background-color: black;
}

.traversed-rainbow {
    /* border: 1px solid black; */
}

.grid-square.shadable {
    opacity: 0;
}
